.portfolio__wrapper {
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio__wrapper--subHeading {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
}

.portfolio__wrapper--heading {
    color: var(--orange);
    font-size: 2.5rem;
    font-weight: bold;
}

.portfolio__wrapper .swiper {
    overflow: visible !important;
}

.portfolio-slider {
    margin-top: 3rem;
    width: 100%;
}

@media  only screen and  (max-device-width : 767px){

.portfolio__wrapper--subHeading {
    font-size: 1rem;
}
.portfolio__wrapper--heading{
    font-size: 1.5rem;
}
.swiper-slide{
    width: 250px !important;
}
}