.nav__wrapper {
    height: 10%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-evenly;
    /* margin: 0 -3.5rem; */
    width: 100%;
    background: var(--navBackground);
    z-index: 5;
   
    left: 0;
}
.nav__left {
    flex: 1;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 3.5rem
}
.nav__name {
    font-weight: bold;
    font-size: 1.3rem;
}
.nav__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list > ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 4rem;
}

.nav__list > ul > li {
    cursor: pointer;
}

.nav__list > ul > li:hover {
    color: var(--orange);
}


/* For laptop landscape View */
@media only screen and (max-device-width : 1339px) { 
    .nav__wrapper{
        width: 95%;
        padding: 0 30px;
    
    }
    .nav__left{
        padding:  0;
    }
    
    .nav__right{
        flex: 0;
    }
    .nav__list > ul {
        margin-right: 1rem;
    }
   }
@media  only screen and  (max-device-width : 950px){
    .nav__wrapper{
       margin: 0;
       padding: 15px;
       width: 93%;
        }
       
        .nav__list > ul {
            gap: 1rem;
            margin-right: 1rem;
        }
   }
   @media  only screen and  (max-device-width : 767px){
   .nav__wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    flex-direction: column;
    height: auto;
}
.nav__left {
    padding: 0 15px;
    padding: 0;
    justify-content: space-between;
    padding: 15px;
}
.nav__list > ul > li {
    font-size: 14px;
   }
   .nav__right {
    justify-content: space-between;
    padding: 0 15px;
}
.nav__list > ul {
    padding: 0;
    gap: 1rem;
    margin-right: 1rem;
    margin: 0;
}
.nav__right {
    padding: 0 15px;
    margin-bottom: 30px;
}

}