.nav__wrapper {
    height: 10%;
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-evenly;
    margin: 0 -3.5rem;
    width: 100%;
    background: var(--navBackground);
    z-index: 5;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.nav__left {
    flex: 1;
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 3.5rem
}
.nav__name {
    font-weight: bold;
    font-size: 1.3rem;
}
.nav__right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__list > ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-right: 4rem;
}

.nav__list > ul > li {
    cursor: pointer;
}

.nav__list > ul > li:hover {
    color: var(--orange);
}