.experience__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 30vh;
    margin-bottom: 8rem;
    margin-top: 4rem;
    position: relative;
    animation-name: experience__wrapper--animation;
    animation-duration: 4s;
}

.achievement {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.achievement span:nth-of-type(2) {
    color: var(--orange);
}

.circle {
    width: 4rem;
    height: 4rem;
    background: white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.circle::before {
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #87e6fb, #ffc05c);
    content: '';
    position: absolute;
    top: -8px;
    bottom: -8px;
    right: -8px;
    left: -8px;
    z-index: -1;
    box-shadow: var(--boxShadow);
}

@keyframes experience__wrapper--animation {
    0% {
        bottom: -1rem
    }
    50% {
        bottom: -0.75rem;
    }
    75% {
        bottom: -0.5rem;
    }
    100% {
        bottom: 0rem;
    }
}